*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(29, 28, 28);
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.container{
    background-color: rgb(43, 39, 39);
    min-height: 500px;
    width: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px;
}
.image img{
    width:100px;
    height: 100px;
    margin: 20px 0;
    border-radius: 50%;
}

.details h1{
    color: white;
}
.details h3{
    color: chartreuse;
    margin-top:15px;
}
.details p{
    margin: 20px 0;
    color: rgb(172, 167, 167);
    font-size: 20px;
}
.links{
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;

}
.links a{
    text-decoration: none;
    width: 330px;
    background-color: rgb(70, 67, 67);
    padding: 15px 5px;
    margin: 10px 20px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
@media only screen and (min-width:350px) {
    .container{
        min-height: 400px;
        width: 300px;
    }
    .details h1{
      font-size: 15px;
    }
    .details h3{
        font-size: 13px;
    }
    .details p{
        font-size: 12px;
    }
    .links a{
        font-size: 12px;
        width: 270px;
    }
    
    
}